.login-input{
    /*
    height: 400px;
    width: 400px;
    */
    background: transparent;
    border : 2px solid white;
    border-radius: 5%;
    padding: 1rem;
    height: 100%;
    width: 25%;
    position: relative;
    left: 37.5%; /* Here width is 25%, so... 100-25=75, 75/2=37.5, I did this to obtain center*/
    top: 80px;
}

.login-input h1 {
    font-size: 2.5rem;
    text-align: center;
    color: white;
    margin-top: 1rem;
}

.login-input .login-input-box {
    width: 90%;
    height: 3rem;
    margin: 30px 0;
    justify-content: center;
}

.login-input-box input {
    width: 90%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid white;
    font-size: 16px;
    margin: 1rem;
    padding-left: 10%;
}

.login-input-box input::placeholder{
    color: white;
}

.login-input .btn{
    width: 75%;
    height: 12%;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 1.5rem;
    color: black;
    margin-top: 2rem;
    margin-bottom: 15px;
    position: relative;
    left: 12.5%;
}

.login-input .register-link{
    font-size: 1.3rem;
    text-align: center;
    margin-top: 20px 0 15px;
    margin: top;
    color: white;
}

.register-link a{
    color: lightgreen;
}