.login-input{
    height: 400px;
    width: 400px;
    background: transparent;
    border : 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: white;
    padding: 1rem;
}

.login-input h1 {
    font-size: 2.5rem;
    text-align: center;
}

.login-input .login-input-box {
    width: 100%;
    height: 3rem;
    margin: 30px 0;
}

.login-input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
}

.login-input-box input::placeholder{
    color: #fff;
}

.login-input .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 15px;
}

.login-input .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
    margin: top;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 100;
    position: absolute;
}

.register-link p a:hover{
    position: absolute;
    text-decoration: underline;
}